<html>

<head>
    <title>
        <%= title %>
    </title>
</head>

<body>
    <h1>Play ground</h1>
    <ul>
        <% for(let i=1;i<=10;i++){%>
            <li>
                <%=i%>
            </li>
            <%}%>
    </ul>
    <%if(true){%>
        <h1>Its True:(</h1>

        <%} else{%>
            <h1>Its false</h1>
            <%}%>
</body>

</html>